{% extends "base.html" %}

{% block title %}Hall Booking - {% endblock %}

{% block content %}

  <div class="container contentalign brandtext brandtext-inverse">

  {% for category, message in get_flashed_messages(with_categories=true) %}
  <div class="alert alert-{{ category }} alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <p>{{ message }}</p>
  </div>
  {% endfor %}
  
    <div class="panel panel-warning">

      <div class="panel-heading">New Booking Requests</div>
      <div class="panel-body">
        <!-- New booking requests -->

        {% if not new_bookings %}
        
          <div class="brandtext brandtext-inverse well">
          <i>No new bookings</i>
          </div>

        {% else %}
          
          <table class="table table-striped">
          
            <th>Reference</th>
            <th>Client Name</th>
            <th>Request Date</th>
            <th>Date/time from</th>
            <th>Date/time to</th>
            <th></th>

            {% for booking in new_bookings %}
            
              <tr>
                <td><a href="{{ url_for('booking_app.admin_booking', booking_id=booking.id) }}">{{ booking.receipt }}</a></td>
                <td><a href="{{ url_for('booking_app.admin_client', client_id=booking.requestor.id) }}">{{ booking.requestor.first_name ~ " " ~ booking.requestor.last_name }}</a></td>
                <td>{{ booking.dtRequest.strftime('%d/%m/%y') }}</td>
                <td>{{ booking.dtStart.strftime('%d/%m/%y') }}</td>
                <td>{{ booking.dtEnd.strftime('%d/%m/%y') }}</td>
                <td>
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="{{ url_for('booking_app.approve', booking_id=booking.id) }}">Confirm/Approve</a></li>
                      <li><a href="{{ url_for('booking_app.cancel', booking_id=booking.id) }}">Cancel</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
            
            {% endfor %}
            
          </table>

        {% endif %}

      </div>

    </div>

    <div class="panel panel-primary">
      
      <div class="panel-heading">Confirmed Booking Requests</div>
      <div class="panel-body">

        {% if not confirmed_bookings %}
          <div class="brandtext brandtext-inverse well">
          <i>No confirmed bookings</i>
          </div>

        {% else %}

          <table class="table table-striped">
        
            <th>Reference</th>
            <th>Client Name</th>
            <th>Request Date</th>
            <th>Date/time from</th>
            <th>Date/time to</th>
            <th></th>
            
            {% for booking in confirmed_bookings %}
            
              <tr>
                <td><a href="{{ url_for('booking_app.track', booking_ref=booking.receipt) }}">{{ booking.receipt }}</a></td>
                <td><a href="{{ url_for('booking_app.admin_client', client_id=booking.requestor.id) }}">{{ booking.requestor.first_name ~ " " ~ booking.requestor.last_name }}</a></td>
                <td>{{ booking.dtRequest.strftime('%d/%m/%y') }}</td>
                <td>{{ booking.dtStart.strftime('%d/%m/%y') }}</td>
                <td>{{ booking.dtEnd.strftime('%d/%m/%y') }}</td>
                <td>
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="{{ url_for('booking_app.cancel', booking_id=booking.id) }}">Cancel</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
            
            {% endfor %}
            
          </table>

        {% endif %}

    </div>

  </div>

</div>

{% endblock %}

{% block extra_scripts %}



{% endblock %}