{% extends "base.html" %}

{% block title %}Hall Booking - {% endblock %}

{% block content %}

  <div class="container contentalign brandtext brandtext-inverse">

	{% if booking.status == "new" %}

	  	<div class="panel panel-success">

	  		<div class="panel-heading">
	  			
		  		<h4><span class="glyphicon glyphicon-time">&nbsp;</span> Thank you - your booking request has been received.</h4>

	  		</div>
	  		<div class="panel-body">

	  			<h4>We're checking availability at the hall and will get back to you ASAP.  <b>Your booking is not yet confirmed.</b></h4><br />

	  			<p>
	  			<b>Your reference is <u>{{ booking.receipt }}</u></b>. To track on your booking status, bookmark this page.
	  			</p><br />

	  			<p>For booking amendments / cancellations, email <a href="mailto:bookings@gumleyvillagehall.org.uk">bookings@gumleyvillagehall.org.uk</a></p>

	  		</div>

	  	</div>

	 {% elif booking.status == "confirmed" %}

	 	<div class="panel panel-primary">

	  		<div class="panel-heading">
	  			
		  		<h4><span class="glyphicon glyphicon-ok">&nbsp;</span>Your booking is confirmed - booking reference {{ booking.receipt }}</h4>

	  		</div>
	  		<div class="panel-body">

	  			<p>Your booking is confirmed with the details below.</p>

	  			<br />

	  			<table class="table">

	  				<tr><td>Start Date & Time:</td><td>{{ booking.dtStart.strftime('%d %b %Y %-I:%M %p') }}</td></tr>
	  				<tr><td>End Date & Time:</td><td>{{ booking.dtEnd.strftime('%d %b %Y %-I:%M %p') }}</td></tr>
	  				<tr><td>Booking Name:</td><td>{{ booking.requestor.first_name ~ " " ~ booking.requestor.last_name }}</td></tr>
	  				<tr><td>Contact Details:</td><td>Phone: {{ booking.requestor.phone }}</td><td>Email: {{ booking.requestor.email }}</td></tr>

	  			</table>

	  		</div>

	  	</div>

	{% endif %}

  </div>

{% endblock %}

{% block extra_scripts %}



{% endblock %}