{% extends "base.html" %}

{% block title %}Contact Us - {% endblock %}

{% block content %}

<div class="container contentalign brandtext brandtext-inverse">

	<h2>{% block content_title %}Contact Us{% endblock %}</h2><hr>

	<p>Hold your next event at Gumley Village Hall</p>

	<p>
		Gumley Village Hall sits at the centre of Gumley village and provides a versatile space which can be used for meetings, parties, events, classes.   With beautiful views across south Leicestershire from the rear of the hall, and nestled at the heart of our small village community, it's a friendly and welcoming space for hire.
	</p>
	<p>
		We've had BBQs in the space outside with hungry folk inside and out, children's parties, anniversary dinners and pop up pub nights, quiz nights, WI and ramblers meets, Pilates and yoga, charity events and pop up cafes.  
	</p>
	<p>
		The hall can hired for 2+ hours and provides some parking directly outside or along the quiet village itself.    
	</p>

	<div class="well">

		<p>
			<b>Enquiries:</b><br>
			[Name] <br>
			[Telephone]
		</p>

	</div>

</div>

{% endblock %}

{% block extra_scripts %}


{% endblock %}
