{% extends "base.html" %}

{% block title %}Create Event - {% endblock %}

{% block content %}

<div class="container contentalign">

  {% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{ category }} alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <p>{{ message }}</p>
    </div>
  {% endfor %}

  <!-- <h2>Create / Edit Event</h2> -->
  <h2>{% block content_title %}Create Event{% endblock %}</h2>

  <div class="row">

  <form action="{% block form_action %}{{ url_for('create_event') }}{% endblock %}" class="form-horizontal .col-md-8" method="post">

    <div class="form-group">
      <label for="title" class="col-sm-2 control-label">Title</label>
      <div class="col-sm-10">
        <input class="form-control" id="title" name="title" type="text" value="{% if event.title %}{{ event.title }}{% endif %}" placeholder="Enter event title here">
      </div>
    </div>

    <div class="form-group">
      <label for="excerpt" class="col-sm-2 control-label">Excerpt</label>
      <div class="col-sm-10">
        <input class="form-control" id="excerpt" name="excerpt" type="text" value="{% if event.excerpt %}{{ event.excerpt }}{% endif %}" placeholder="Event excerpt will appear on the events page; if not entered, excerpt will be automatically derived from event detail">
      </div>
    </div>

    <div class="form-group">
      <label for="thumbnail" class="col-sm-2 control-label">Thumbnail Image Name</label>
      <div class="col-sm-10">
        <input class="form-control" id="thumbnail" name="thumbnail" type="text" value="{% if event.thumbnail %}{{ event.thumbnail }}{% endif %}">
      </div>
    </div>

    <div class="form-group">
      <label for="event-date" class="col-sm-2 control-label">Event Date</label>
      <div class="col-sm-10">
        <input class="form-control" id="event-date" name="event-date" type="text" {% if event.date %} value="{{ event.date.strftime('%d/%m/%y %H:%M') }}" {% else %} value="" {% endif %}>
        <span><i>Please specify as "dd/mm/yy hh:mm"</i></span>
      </div>
    </div>

    <div class="form-group">
      <label for="Content" class="col-sm-2 control-label">Content</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="content" name="content" style="height: 300px;">{{ event.content }}</textarea>
      </div>
    </div>

    <div class="form-group">
        <label for="published" class="col-sm-2 control-label">Publish</label>
        <div class="col-sm-10 checkbox">
            <input name="published" type="checkbox" value="y"{% if event.published %} checked="checked"{% endif %}><i>(if not checked, event will be saved in drafts)</i>
        </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-primary" type="submit">{% block save_button %}Create{% endblock %}</button>
        <a class="btn btn-default" href="{{ url_for('index') }}">Cancel</a>
      </div>
    </div>

  </form>

  </div>

</div>

{% endblock %}
