{% extends "base.html" %}

{% block extra_header %}
  {% if g.user.is_authenticated %}
    <li><a href="{{ url_for('edit_event', slug=event.slug) }}">Edit event</a></li>
  {% endif %}
{% endblock %}

{% block content %}
	<div class="container contentalign brandtext brandtext-inverse">

		{% for category, message in get_flashed_messages(with_categories=true) %}
		<div class="alert alert-{{ category }} alert-dismissable">
		  	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		    <p>{{ message }}</p>
		</div>
		{% endfor %}

		<div class="row">

			<div class="col-md-2">
				<a href="/events" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Back to events list</a>
			</div>

			<div class="col-md-6"></div>

			<div class="btn-group pull-right">

				{% if g.user.is_authenticated %}
					<a href="{{ url_for('edit_event', slug=event.slug) }}" style="text-align: right;" class="btn btn-default">
					<span class="glyphicon glyphicon-edit"></span> Edit event</a>
					<a href="{{ url_for('delete_event', slug=event.slug) }}" style="text-align: right;" class="btn btn-default">
					<span class="glyphicon glyphicon-trash"></span> Delete event</a>
				{% endif %}

			</div>

		</div>

		<h2>{{ event.title }}</h2>

		<hr>

		{% if event.date %}
			<div class="well">
				<b>Date:</b> {{ event.date.strftime('%d %B %Y at %H:%M%p') }}
			</div>
		{% endif %}

		{{ event.html_content }}

	</div>
{% endblock %}
